<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twitter_id %><br>
    <%= f.number_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :expires %><br>
    <%= f.datetime_select :expires %>
  </div>
  <div class="field">
<!--         I took out district for now as it was breaking the code -->
<!--         I took out district for now as it was breaking the code -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
