
<div class='row'>
  <div class="col-md-2">
    <div class="mg-r">
      <img src=<%= @twitter_profile_image %> class='debug img-thumbnail' height="200" width="200">
      <ul class='d-i debug'>
        <li class='fs-xl mg-t p-l'><%= @twitter_profile_name %></li>
        <li class='fs-m p-l'><%= @twitter_handle %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 debug">
    <div class='h-m'></div>
    <ul class='p-s mg-b'>
      <li class="d-i debug p-r">
        <a href="#">
          <span class='fs-s'>WATCHINGS<span class='d-b txt-c fs-l'>20</span></span>
        </a>
      </li>
      <li class="d-i debug p-r">
        <a href="#">
          <span class='fs-s'>WATCHED<span class='d-b txt-c fs-l'>100</span></span>
        </a>
      </li>
      <li class="d-i debug p-r">
        <a href="#">
          <span class='fs-s'>ENDORSED<span class='d-b txt-c fs-l'>32</span></span>
        </a>
      </li>
    </ul>

  <% @user_districts.each_with_index do |district, index| %>
    <div class="p-s rcorners bg-w mg-t mg-r">
      <p class="txt-c fs-l c-g">Compatibility Report</p>
      <p class='fs-xm txt-c'>Which candidates share my values?</p>
      <h4 class='m-a w-m p-t'>National Election 2016:</h4>
      <table class='table table-hover m-a w-m'>
        <thead>
           <h4><%= district.name %></h4>
          <tr>
            <th colspan="2" class='txt-c p-t'><%= @user_districts_offices[index].title %></th>
          </tr>
        </thead>
        <tr>
          <td><%= @user_districts_offices_candidates_users[index].name %></td>
          <td></td>
          <td>
            <details>
              <summary>48%</summary>
              <ul>
                <li>Organization 1</li>
                <li>Organization 2</li>
                <li>Organization 3</li>
                <li>Organization 4</li>
                <li>Organization 5</li>
              </ul>
            </details>
          </td>
        </tr>
        <tr>
          <td>Donald Trump</td>
          <td>
           <details>
              <summary>13%</summary>
              <ul>
                <li>Organization 1</li>
              </ul>
            </details>
          </td>
        </tr>
        <tr>
          <td>Undecided</td>
          <td>
            <details>
              <summary>30%</summary>
              <ul>
                <li>Organization 1</li>
                <li>Organization 2</li>
                <li>Organization 3</li>
              </ul>
            </details>
          </td>
        </tr>
      </table>
    </div>
     <% end %>
  </div>
</div>
