<div class='row'>
  <div class="col-md-3">
    <div class="mg-r">
     <img src=<%= @twitter_profile_image %> class='debug img-thumbnail' style="min-height: 200px; min-width: 200px">
      <ul class='debug'>
        <li class='fs-xl mg-t p-l'><%= @twitter_profile_name %></li>
        <li class='fs-m p-l'><%= "@"+@twitter_handle %></li>
        <% if @current_user == @user %>
          <%= render 'shared/district_form' %>
        <% else %>
          <% if @current_watching == nil %>
            <li class='fs-xl mg-t p-l center-button debug'>
              <%= button_to "Watch this Organization", watch_path(params[:id].to_i), form_class: "watch-button",:class => "btn btn-success btn-large home-right-button debug", :method => :post %>
            </li>
          <% else %>
            <li class='fs-xl mg-t p-l center-button debug'><span class="btn btn-success btn-large disabled debug">Currently Watching</span></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="p-s rcorners bg-w mg-t mg-r">
      <a href="<%= @current_user ? report_path(@user) : "#" %>"><p class="txt-c fs-l">Compatibility Report</p></a>
      <p class='fs-xm txt-c'>Which candidates share <%= @current_user == @user ? "my values?" : @user.name + "'s values?" %></p>
      <% if @report_card %>
        <%= render "shared/report_card" , object: @report_card %>
      <% end %>
  </div>
</div>
<div class="col-md-9 debug">
  <div class='h-m'></div>
  <ul class='p-s mg-b'>
    <li class="d-i debug p-r">
      <a href="#">
        <span class='fs-s'>WATCHINGS<span class='d-b txt-c fs-l'>20</span></span>
      </a>
    </li>
    <li class="d-i debug p-r">
      <a href="#">
        <span class='fs-s'>WATCHED<span class='d-b txt-c fs-l'>100</span></span>
      </a>
    </li>
    <li class="d-i debug p-r">
      <a href="#">
        <span class='fs-s'>ENDORSED<span class='d-b txt-c fs-l'>32</span></span>
      </a>
    </li>
  </ul>
  <ul class='nav nav-tabs bg-w row txt-c'>
    <li class="active of">
      <a href="#watching" data-toggle="tab">
        <span title="Organizations <%= @current_user == @user ? "I Watch" : "#{@user.name} watches" %>">
          <strong>
            Watches
          </strong>
        </span>
      </a>
    </li>
    <li>
      <a href="#endorse" data-toggle='tab' class='of'>
        <span title="Candidates <%= @current_user == @user ? "I Endorse" : "#{@user.name} endorses" %>">
        <strong>
          Endorses
        </strong>
      </span>
      </a>
    </li>
  </ul>
  <div class='tab-content'>
    <div class='tab-pane active' id='watching'>
      <%= render "shared/organization_watch" %>
    </div>
    <div class='tab-pane' id='endorse'>
      <%= render "/shared/candidate_endorse" %>
    </div>
  </div>
</div>
</div>
