<% @endorsed_candidates.each_with_index do |twitteruser, index| %>
<div class='rcorners bg-w row txt-c'>
  <img src="<%= twitteruser.image %>" alt="" class='mg p-s col-md-2'>
  <div class='col-md-9 mg p-s debug'>
  <a href="<%= show_path(twitteruser) %>">
    <strong>
      <%= twitteruser.name %>
    </strong>
  </a>
  <ul class='mg-l'>
    <li><%= twitteruser.description %></li>
    <li>
      <%= button_to "Unendorse", unendorse_path, :class => "btn-danger btn-xs unendorse-button" %>
    </li>
  </ul>
</div>
</div>
<% end %>

