<% @endorsed_candidates.each_with_index do |twitteruser, index| %>
<div class='rcorners bg-w row txt-c'>
  <img src="<%= twitteruser.image %>" alt="" class='mg p-s col-md-2'>
  <div class='col-md-9 mg p-s debug'>
  <a href="<%= show_path(twitteruser) %>">
    <strong>
      <%= twitteruser.name %>
    </strong>
  </a>
  <ul class='mg-l'>
    <% @orgs_endorsing_a_candidate[index].each_with_index do |org_twitteruser, index| %>
    <li><%= org_twitteruser.name %></li>
    <% end %>
      <% if session[:current_user_id].to_s == params[:id] %>
        <%= button_to "Unendorse", unendorse_path(twitteruser.user), :class => "btn-danger btn-xs unendorse-button" %>
    <% end %>
    </li>
  </ul>
</div>
</div>
<% end %>


