<% @candidates.each_with_index do |candidate, index| %>
<div class='rcorners bg-w row'>
  <img src=<%= candidate.image %> alt="" class='mg p-s col-md-2 img-responsive'>
  <div class='col-md-9 mg p-s debug'>
    <table class='debug w txt-c'>
      <thead>
        <tr class='debug'>
          <th class='txt-c fs-m th-w'><a href="<%= show_path(candidate) %>">
          <%= candidate.name %></a></td>
        </th>
        <% if @logged_in %>
        <th><%= button_to "Endorse", endorse_path(candidate.user.id), :class => "btn-success btn-xs",:"aria-hidden"=> "true", :method => :post  %></th>
        <% else %>
        <!-- this below button logins in but does not redirect to the right page -->
        <th><%= button_to "Endorse", login_and_endorse_path, :class => "btn-success btn-xs",:"aria-hidden"=> "true", :method => :post, :headers => { :organization => candidate.user }  %></th>
        <% end %>
      </thead>
      <% @orgs_endorsing_candidates[index].each do |twitteruser| %>
      <tr>
        <td><%= twitteruser.name %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>
