
<div class='rcorners bg-w row'>
  <img src=<%= @can.image %> alt="" class='mg p-s col-md-2 img-responsive'>
  <div class='col-md-9 mg p-s debug'>
    <table class='debug w txt-c'>
      <thead>
        <tr class='debug'>
          <th class='txt-c fs-m th-w'>
            <a href="<%= show_path(@can) %>">
              <%= @can.name %>
            </a>
          </th>
        </tr>
      </thead>
         <% @orgs_endorsing_a_candidate[@index].each do |twitteruser| %>
          <tr>
            <td>
              <%= twitteruser.name %>
            </td>
          </tr>
          <% end %>
          <% if @logged_in %>
            <tr>
              <td>
                <%= button_to "Endorse", endorse_path(@can.user.id), :class => "btn-success btn-xs endorse-button",:"aria-hidden"=> "true", :method => :post  %>
              </td>
            </tr>
          <% else %>
          <!-- this below button logins in but does not redirect to the right page -->
            <tr>
            <td>
              <%= button_to "Endorse", login_path, :class => "btn-success btn-xs",:"aria-hidden"=> "true", :method => :post, :headers => { :organization => @can.user }  %>
            </td>
          </tr>
          <% end %>
    </table>
  </div>
</div>


