<nav class="navbar navbar-default bg-w mg-b-z">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <a class="debug navbar-brand" href="/"><%= image_tag("Capitol.png", size: "25x23") %></a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home <span class="sr-only">(current)</span></a></li>
        <li class=><a href=
          <%= @current_user_path %>
          ><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile <span class="sr-only">(current)</span></a></li>
        <li class=><a href=
          <% if @logged_in %>
          <%= "/deauth/twitter" %>
          <% else %>
          <%= "auth/twitter" %>
          <% end %>

          ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <% if @logged_in %>
          <%= "Logout" %>
          <% else %>
          <%= "Login" %>
          <% end %>
         <span class="sr-only">(current)</span></a>
        </li>

      </ul>


      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
