<% @watched_users.each_with_index do |twitteruser, index| %>
<div class='rcorners bg-w row txt-c' %>
  <img src=<%= twitteruser.image %> alt="" class='mg p-s col-md-2'>
  <div class='col-md-9 mg p-s debug'>
  <a href="<%= show_path(twitteruser) %>"><strong><%= twitteruser.name %></strong></a>
  <p><%= twitteruser.description %></p>
  <details>
    <summary>
      <%= @watched_user_endorsements[index].length %> Endorsements
    </summary>
      <ul>
        <% @watched_user_endorsements[index].each_with_index do |endorsed_twitteruser, index| %>
          <li>
            <%= endorsed_twitteruser.name %>
          </li>
        <% end %>
      </ul>
  </details></br>
  <%= button_to "Unwatch", unwatch_path(twitteruser),:class => "btn-danger btn-xs",:"aria-hidden"=> "true", :id => "organization-#{twitteruser.id}", :method => :put %>
</div>
</div>
<% end %>
<script>
$(document).ready(function() {
  unwatchListener();
});
var unwatchListener = function () {
  console.log("listener running");
  $(".button_to").on("submit", function(e) {
    e.preventDefault();
    console.log("submitted!")
    var url = this.action;
    var target = this.parentElement.parentElement
    unwatch(url, target);
  });
  var unwatch = function(url, target){
    console.log(url);
    $.ajax({
      url: url,
      method: "post",
      dataType: "json"
    }).done(function() {
      $(target).toggle("fast");
    }).fail(function(){
      console.log("fail");
    });
  }
}
</script>
