<% @watched_users.each_with_index do |twitteruser, index| %>


      <div class='rcorners bg-w row txt-c'>

        <img src=<%= twitteruser.image %> alt="" class='mg p-s col-md-2'>

        <div class='col-md-9 mg p-s debug'>

              <a href="#"><strong><%= twitteruser.name %></strong></a href="#">
                <ul class='mg-l'>
                  <li><%= twitteruser.description %></li>
                  <li>Test: NUMBER OF ENDORSEMENTS:<%= @watched_user_endorsements[index].length %>
                    <% @watched_user_endorsements[index].each_with_index do |endorsed_twitteruser, index| %>
                      <li>Is endorsing: <%= endorsed_twitteruser.name %></li>
                    <% end %>
                  </li>
                </ul>

                <!-- <ul>
                  <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-ban-circle c-r" aria-hidden="true"></span></a></li>
                  <li class='d-i p-s'><a href='#'><span class="glyphicon glyphicon-info-sign c-b" aria-hidden="true"></span></a></li>
                </ul>
         -->
        </div>

      </div>


<% end %>
