<div class='rcorners bg-w row wrapper'>
  <div class='small h'>
    <img src=<%= @org.image %> alt="" class='mg p-s col-md-2 img-responsive'>
    <div class='col-md-9 mg p-s debug body'>
      <table class='debug w txt-c'>
        <thead>
          <tr class='debug'>
            <th class='txt-c fs-m th-w'>
              <a href="<%= show_path(@org) %>">
                <%= @org.name %>
              </a>
            </th>

          <% if !@logged_in || !@current_user_watches_org[@index] %>
            <th><%= button_to " Watch ", watch_path(@org_ids[@index]), :form_class => "watch-index-button",:class => "btn-success btn-xs watch-index-button",:"aria-hidden"=> "true", :method => :post  %></th>
          <% else %>
          <!-- this below button logins in but does not redirect to the right page -->
            <th> <%= button_to "Unwatch", unwatch_path(@org_ids[@index]),form_class: "unwatch-button" ,:class => "btn-danger btn-xs",:"aria-hidden"=> "true", :id => "organization-#{@org.id}", :method => :put %></th>
          </tr>
          <% end %>

        </thead>
        <tbody>
          <tr>
            <td><%= @org.description %></td>
          </tr>
        </tbody>
      </table>
        <%= render 'shared/org_stats' %>
    </div>
  </div>
</div>
