
<div class='rcorners bg-w row txt-c' %>
  <img src=<%= @org.image %> alt="" class='mg p-s col-md-2'>
  <div class='col-md-9 mg p-s debug'>
  <a href="<%= show_path(@org) %>"><strong><%= @org.name %></strong></a>
  <p><%= @org.description %></p>
  <details>
    <summary>
      <%= @watched_user_endorsements[@index].length %> Endorsements
    </summary>
      <ul>
        <% @watched_user_endorsements[@index].each_with_index do |endorsed_twitteruser, index| %>
          <li>
            <%= endorsed_twitteruser.name %>
          </li>
        <% end %>
      </ul>
  </details></br>
  <% if session[:current_user_id].to_s == params[:id]  %>
  <%= button_to "Unwatch", unwatch_path(@org),form_class: "unwatch-button" ,:class => "btn-danger btn-xs",:"aria-hidden"=> "true", :id => "organization-#{@org.id}", :method => :put %>
  <% end %>
  </div>
  </div>
