<div class='row'>
  <div class="col-md-3 debug mg">
    <% if @current_user %>
    <div class='row mg p bg-w'>
      <img src=<%= @twitter_profile_image %> class='debug img-thumbnail col-md-3'>
      <div class='col-md-9'>
        <div class='h-xs debug'></div>
        <ul class='debug'>
          <li class='fs-xl mg-t'><%= @twitter_profile_name%></li>
          <li class='fs-m'><%= @twitter_handle %></li>
        </ul>
      </div>
      <ul class='p-s mg-b'>
        <li class="d-i debug p-r">
          <a href="#">
            <span class='fs-xs'>WATCHINGS<span class='d-b txt-c fs-m'>20</span></span>
          </a>
        </li>
        <li class="d-i debug p-r">
          <a href="#">
            <span class='fs-xs'>WATCHED<span class='d-b txt-c fs-m'>100</span></span>
          </a>
        </li>
        <li class="d-i debug p-r">
          <a href="#">
            <span class='fs-xs'>ENDORSED<span class='d-b txt-c fs-m'>32</span></span>
          </a>
        </li>
      </ul>
    </div>
    <% end %>

      <div class='debug bg-w mg mg-t p'>
      <h4 class='fw-t txt-c'>How This Works</h4>
      <p>
        <strong>Purpose: </strong> Help users discover shared values through following organizational endorsements.<br/>
        <strong>How: </strong>Watch organizations you support and see who which candidates they endorse.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
      </p>
    </div>
  </div>
  <div class="col-md-5 bg-w debug mg bg-lg">
    <form class="navbar-form">
      <div class="form-group" style="display:inline;">
        <div class="input-group" style="display:table;">
          <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
          <input id="peopleSearchBar" class="form-control" name="search" placeholder="Search for Candidates and Endorsers" autocomplete="off" autofocus="autofocus" type="text">
        </div>
      </div>
    </form>
    <ul class='nav nav-tabs bg-w row txt-c'>
      <li class="active"><a href="#organizations" data-toggle="tab"><strong>Organizations To Watch</strong></a></li>
      <li><a href="#candidates" data-toggle='tab'><strong>Candidates To Endorse</strong></a></li>
    </ul>
    <div class='tab-content'>
      <div class='tab-pane active' id='organizations'>
        <%= render "shared/organizations_to_watch" %>
      </div>

      <div class='txt-c tab-pane' id='candidates'>
      <%= render "shared/candidates_to_watch" %>
    </div>


      </div>
      </div>

<div class="col-md-3 mg bg-w debug">
  <h4 class='fw-t txt-c'>Recent Endorsements</h4>
  <div>
    <dl class='p-l-m'>
      <dt><a href="google.com">Planned Parenting</a></dt>
      <dd><span>Hillary Clinton<span> for president</dd>
      <dd class='c-gy'><span>32</span> endorsements for this candidate</dd>
      <dt><a href='msn.com'>Peeper Rams</a></dt>
      <dd><span>Robert Baker<span> for vice president</dd>
      <dd class='c-gy'><span>532</span> endorsements for this candidate</dd>
      <dt><a href="google.com">Grasshopperz</a></dt>
      <dd><span>Tom Lee<span> for mayor</dd>
      <dd class='c-gy'><span>1000</span> endorsements for this candidate</dd>
      <dt><a href='msn.com'>DBC</a></dt>
      <dd><span>Felix Lobkowicz<span> for emperor!</dd>
      <dd class='c-gy'><span>120</span> endorsements for this candidate</dd>
    </dl>
  </div>
</div>
</div>
