<!DOCTYPE html>
<html>
  <head>
    <title>Write-In</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="body-not-bs">
    <% if request.path != root_path %>
      <% placeholder = "p-a" %>
    <% else %>
      <% placeholer = "" %>
    <% end %>
    <%= render 'shared/navigation' %>
    <% if request.path != root_path %>
      <div class="bg-g w h-s"></div>
      <div class="bg-w w h-l p-a"></div>
      <div class="bg-g w h-m <%= placeholder %>"></div>
    <% end %>
    <div class="container debug">
      <div >
        <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-dismissible alert-#{name}" %>
        <% end -%>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
